* {
 font-family: Poppins; 
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.nav-links {
  display: none;
}

.main {
  background: url(images/header-shapes\ mobile@2x.svg);
  display: flex;
  padding: 90px 18px;
}

.logo {
  color: #6070FF;
}

.nav-icon {
  color: #6070FF;
}

h1{
  color: #172B4D;
  font-size: 35px;
  margin: 9px;
}

.presentation{
  color: #344563;
  font-size: 20px;
  margin: 9px;
}

.connect{
  color: #7F8CFF;
  font-size: 16px;
  margin: 9px;
}

.icons {
  display: flex;
  margin: 9px;
}

.icons ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.icons ul li a {
  color: #505F79;
}

.logo :hover {
  text-decoration: underline;
}

.icons ul li a :hover {
  color: #7F8CFF;
}
