* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.nav-links {
  display: none;
}

.main {
  background: url(images/header-shapes\ mobile@2x.svg);
  display: flex;
  padding: 90px 18px;
  background-repeat: no-repeat;
}

.logo {
  color: #6070ff;
  text-decoration: none;
}

.fa-bars {
  color: #6070ff;
}

h1 {
  color: #172b4d;
  font-size: 35px;
  margin: 9px;
}

.presentation {
  color: #344563;
  font-size: 25px;
  margin: 9px;
  padding: 15px;
}

.connect {
  color: #7f8cff;
  font-size: 16px;
  margin: 9px;
  padding: 10px;
}

.icons {
  display: flex;
  margin: 9px;
  padding: 12px;
}

.icons ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.icons ul li a {
  color: #505f79;
}

.logo :hover {
  text-decoration: underline;
}

.icons ul li a :hover {
  color: #7f8cff;
}

.works {
  padding: 25px 18px;
  display: grid;
  gap: 15px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 25px;
  align-items: center;
}

.title {
  color: #172b4d;
  font-size: 35px;
}

.photo {
  width: 100%;
}

.canopy {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}

.can {
  list-style: none;
  color: #344563;
}

.dev {
  color: #c1c7d0;
}

.languages ul {
  list-style: none;
  display: flex;
  color: #6070ff;
}

.languages ul li {
  margin: 18px;
}

.lang {
  background: #ebebff;
  border-radius: 8px;
}

.button {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 15px;
  width: 180px;
  text-align: center;
  color: #396df2;
  font-size: 18px;
}

.about {
  padding: 90px 18px;
  display: flex;
}

.js {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  background-color: #f7f7f9;
  margin: 20px;
  padding: 10px;
  color: #253858;
  align-items: center;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 85%;
  font-size: 25px;
  margin: 15px 20px;
}

.langs {
  padding: 4px 10px;
}

hr {
  color: #dfe1e6;
}

.button:hover {
  background-color: #6070ff;
  color: #172b4d;
}

.lang:hover {
  color: #172b4d;
}
